{% set page_title = 'FAQ' %}
{{ include('/shared/header.twig') }}
{{ include('/shared/navigation.twig') }}
<div class="container py-4 text-center">
    <main class="w-75 mx-auto">
        <h1>Frequently Asked Questions</h1>
        <p>Don't see your question below? Call us at <a href="tel:+19999999999">(999) 999-9999</a> or email us at <a
                href="mailto:hello@madisonstreetmealprep.com">hello@madisonstreetmealprep.com</a> and we'll be happy
            to help.</p>
        <div id="accordion" class="mt-5">
            {% for faq in faqs %}
                <div class="card">
                    <div class="card-header bg-custom-light" id="heading{{ faq.faqID }}">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{ faq.faqID }}"
                                    {% if faq.faqID == 1 %}{{ 'aria-expanded="true"' }}{% else %}{{'aria-expanded="false"'}}{% endif %} aria-controls="collapse{{ faq.faqID }}">
                                {{ faq.faqTitle }}
                            </button>
                        </h5>
                    </div>
                    <div id="collapse{{ faq.faqID }}" class="collapse {% if faq.faqID == 1 %}{{'show'}}{% endif %}" aria-labelledby="heading{{ faq.faqID }}" data-parent="#accordion">
                        <div class="card-body">
                            {{ faq.faqDescription }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
</div>
{{ include('/shared/footer.twig') }}