{{ include('/shared/header.twig') }}
{{ include('/shared/navigation.twig') }}
<div class="container py-4 text-center">
    <main class="w-75 mx-auto">
        <h1>Sign Up</h1>
        {% if sign_up_error_message is not empty %}
            <p class="alert alert-danger sign-up-alert mt-4 mx-auto">{{ sign_up_error_message|e }}</p>  
        {% elseif sign_up_success_message is not empty %}
            <p class="alert alert-success sign-up-alert mt-4 mx-auto">{{ sign_up_success_message|e }}</p>  
        {% endif %}
        {% if sign_up_success_message is empty %}
            <form action="." method="post" id="sign_up_form" class="text-left mx-auto">
                <div class="form-group">
                    <label class="form-required">First Name:</label>
                    <input type="text" class="form-control {% if error_first_name is not empty %} {{ 'field-error' }} {% endif %}" name="firstName" value="{{ first_name|e }}">
                    {% if error_first_name is not empty %}
                        <span class="text-danger d-inline-block pt-1 font-italic">{{ error_first_name|e }}</span>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label class="form-required">Last Name:</label>
                    <input type="text" class="form-control {% if error_last_name is not empty %} {{ 'field-error' }} {% endif %}" name="lastName" value="{{ last_name|e }}">
                    {% if error_last_name is not empty %}
                        <span class="text-danger d-inline-block pt-1 font-italic">{{ error_last_name|e }}</span>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label class="form-required" for="streetAddress">Street Address:</label>
                    <input type="text" class="form-control {% if error_street_address is not empty %} {{ 'field-error' }} {% endif %}" name="streetAddress" placeholder="" value="{{ street_address|e }}">
                    {% if error_street_address is not empty %}
                        <span class="text-danger d-inline-block pt-1 font-italic">{{ error_street_address|e }}</span>
                    {% endif %}
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="form-required" for="city">City:</label>
                        <input type="text" class="form-control {% if error_city is not empty %} {{ 'field-error' }} {% endif %}" name="city" value="{{ city|e }}">
                        {% if error_city is not empty %}
                            <span class="text-danger d-inline-block pt-1 font-italic">{{ error_city|e }}</span>
                        {% endif %}
                    </div>
                    <div class="form-group col-md-4">
                        <label class="form-required" for="state">State:</label>
                        <select name="state" class="form-control {% if error_state_field is not empty %} {{ 'field-error' }} {% endif %}">
                            <option value="" disabled selected>Choose...</option>
                            {% for state in states %}
                                <option value="{{ state.abbreviation|e }}" {% if state.abbreviation == state_field %} {{ ' selected="selected"' }} {% endif %}>{{ state.name|e }}</option>
                            {% endfor %}
                        </select>
                        {% if error_state_field is not empty %}
                            <span class="text-danger d-inline-block pt-1 font-italic">{{ error_state_field|e }}</span>
                        {% endif %}
                    </div>
                    <div class="form-group col-md-2">
                        <label class="form-required" for="zipCode">Zip:</label>
                        <input type="text" class="form-control {% if error_zip_code is not empty %} {{ 'field-error' }} {% endif %}" name="zipCode" value="{{ zip_code|e }}">
                        {% if error_zip_code is not empty %}
                            <span class="text-danger d-inline-block pt-1 font-italic">{{ error_zip_code|e }}</span>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-required">Email:</label>
                    <input type="text" class="form-control {% if error_email is not empty %} {{ 'field-error' }} {% endif %}" name="email" value="{{ email|e }}">
                    {% if error_email is not empty %}
                        <span class="text-danger d-inline-block pt-1 font-italic">{{ error_email|e }}</span>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label class="form-required">Phone:</label>
                    <input type="text" class="form-control {% if error_phone is not empty %} {{ 'field-error' }} {% endif %}" name="phoneNumber" placeholder="(999) 999-9999" value="{{ phone|e }}">
                    {% if error_phone is not empty %}
                        <span class="text-danger d-inline-block pt-1 font-italic">{{ error_phone|e }}</span>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="dietaryPreference">Dietary Preference:</label>
                    <select id="dietaryPreference" class="form-control">
                        <option value="" disabled selected>Choose...</option>
                        {% for meal_plan in meal_plans %}
                            <option value="{{ meal_plan.planID|e }}">{{ meal_plan.planName|e }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-required">Username:</label>
                    <input type="text" class="form-control {% if error_username is not empty %} {{ 'field-error' }} {% endif %}" name="username" value="{{ username|e }}">
                    {% if error_username is not empty %}
                        <span class="text-danger d-inline-block pt-1 font-italic">{{ error_username|e }}</span>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label class="form-required">Password:</label>
                    <input type="password" class="form-control {% if error_password is not empty %} {{ 'field-error' }} {% endif %}" name="password" value="{{ password|e }}">
                    {% if error_password is not empty %}
                        <span class="text-danger d-inline-block pt-1 font-italic">{{ error_password|e }}</span>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label class="form-required">Confirm Password:</label>
                    <input type="password" class="form-control {% if error_confirm_password is not empty %} {{ 'field-error' }} {% endif %}" name="confirmPassword" value="{{ confirm_password|e }}">
                    {% if error_confirm_password is not empty %}
                        <span class="text-danger d-inline-block pt-1 font-italic">{{ error_confirm_password|e }}</span>
                    {% endif %}
                </div>
                <div class="form-group">
                    <input type="submit" name="action" value="Sign up" class="btn btn-primary form-submit">
                </div>
            </form>
        {% endif %}
    </main>
</div>
{{ include('/shared/footer.twig') }}